:root{
  --color0:#075e54;
  --color1:#0c8174;
  --color2:#25d366;
  --color3:#dcf8c6; 
  --color4:#34b7f1; 
  --color5:#ece5dd; 
}
.myFont{
  color: var(--color0);
}
body{
  background-color: var(--color5);
}
.navbar{
  background-color: var(--color1) !important;
  color: rgba(255, 255, 255, 0.616) ;
  padding-bottom: 0px;
}
.max50{
  max-width: 50%;
}
a.navlinks{
text-decoration: none;
color: rgba(255, 255, 255, 0.616);
border-bottom: 4.7px solid transparent;
}
.navlinks.active{
  color: white;
  border-bottom: 4.7px solid white;
}
.auth-form{
  max-width: 300px;
}
.logo-icon{
  color: var(--color1);
  font-size: 9vh;
}
.auth-container{
  background-image: url(../public/logo1921.png);
}
.btn-mine{
  background-color: var(--color0);
  color: var(--color5);
}
.btn-msg{
  background-color: var(--color0);
  color: var(--color5);
  width: 50px;
  height: 50px;
}
.btn-mine:hover{
  background-color: var(--color1);
  color: var(--color5);
}
::-webkit-scrollbar {
	width: 5px;
    height: 6px;
	background-color: transparent;
    border-radius: 100px;
  }
::-webkit-scrollbar-track {
	-webkit-box-shadow: transparent;
	border-radius: 10px;
	background-color: transparent;
  }

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: orange;
  }
  .searchInput{
    color:  white !important;
    width: 80%;
  }
  .searchInput label{
    color: white !important;
  }
  .searchInput input{
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }
  .css-v4u5dn-MuiInputBase-root-MuiInput-root:before{
    border-bottom: 4px solid var(--color2) !important;
  }
  .css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
    border-bottom: 4px solid white !important;
  }
  .chatInput{
    border: 0px;
  }
  .chatInput:focus{
    border: 0px;
    outline: 0px;
  }
  .chat-left{
background-color: white;
border-radius: 0px 10px 10px 10px;
  }
  .chat-right{
    border-radius: 10px 0px 10px 10px;
    background-color: var(--color3);
  }
  .add-group{
background-color: var(--color4);
  }
  .css-1f1u9fh-MuiAutocomplete-root {
    width: inherit !important;
}